<div class="rounded-box code-breaker-guess-options justify-between mx-4">
  <button (click)="selectAll()">Select All</button>
  <div *ngFor="let color of colors; let i = index" class="{{ color }}">
    <input
      type="checkbox"
      id="color-{{ i }}"
      value="{{ color }}"
      (change)="checkBoxChanged($event)"
    />
    <label for="color-{{ i }}">
      {{ color }}
    </label>
  </div>
  <div class="White">
    <label for="column-select" class="mr-2">Columns</label>
    <select id="column-select" (change)="selectChanged($event)">
      <option *ngFor="let col of columns" value="{{ col }}">{{ col }}</option>
    </select>
  </div>
  <button [disabled]="selected.Colors.length < 2" (click)="newGameClicked()">
    New Game
  </button>
</div>
