<div class="score-row">
  <div class="score-left">
    <button routerLink="/code_breaker/scores/{{ codeBreaker.id }}">
      Details
    </button>
  </div>
  <div class="score-center">
    {{ codeBreaker.user != null ? codeBreaker.user.UserName : "Anonyous" }}
  </div>
  <div class="score-center">
    {{ codeBreaker.Status }}
  </div>
  <div class="score-center">
    {{ codeBreaker.Score }}
  </div>
  <div class="score-center">
    {{ codeBreaker.Colors }}
  </div>
  <div class="score-right">
    {{ codeBreaker.Columns }}
  </div>
</div>
