<div class="rounded-box mx-4 mb-2 p4">
  <h2>Scores</h2>
  <div *ngFor="let turn of turns" class="flex flex-wrap justify-between">
    <div class="w-36">
      {{ turn.Category }}
    </div>
    <app-small-dice-roll [roll]="turn.RollOne || ''"></app-small-dice-roll>
    <app-small-dice-roll [roll]="turn.RollTwo || ''"></app-small-dice-roll>
    <app-small-dice-roll [roll]="turn.RollThree || ''"></app-small-dice-roll>
    <div class="w-20 text-right">
      {{ turn.Score }}
    </div>
  </div>
  <div class="text-right">
    <strong class="mr-2">Total</strong>
    <span>{{ score }}</span>
  </div>
</div>
