<h1 class="ml-4">Guess Word Scores</h1>

<div class="rounded-box mx-4 mb-2">
  <div class="score-header">
    <div class="score-left"></div>
    <div class="score-center">User</div>
    <div class="score-center">Status</div>
    <div class="score-center">Score</div>
    <div class="score-center">Word</div>
    <div class="score-right">Length</div>
  </div>
  <app-guess-word-score-row
    *ngFor="let guessWord of data.Items"
    [guessWord]="guessWord"
  ></app-guess-word-score-row>
</div>

<div class="rounded-box mx-4 mb-2">
  <app-pagination-controls
    [count]="data.Count"
    [limit]="data.Limit"
    [offset]="data.Offset"
    (pageChanged)="pageChanged($event)"
    (limitChanged)="limitChanged($event)"
  ></app-pagination-controls>
</div>
