<div class="flex flex-wrap justify-between mx-2">
  <h1>Ten Grand</h1>
  <button routerLink="/ten_grand/scores" class="scores-link">Scores</button>
</div>

<app-ten-grand-current-turn
  *ngIf="game.Status == 'Playing'"
  [game]="game"
  (reload)="reloadGame()"
></app-ten-grand-current-turn>

<app-ten-grand-score-card [turns]="game.turns || []"></app-ten-grand-score-card>

<div *ngIf="game.Status != 'Playing'" class="rounded-box mx-4 mb-2">
  <button (click)="newGame()">New Game</button>
</div>

<app-ten-grand-directions
  *ngIf="game.Status != 'Playing'"
></app-ten-grand-directions>
