<div class="yacht-score-options">
  <div
    *ngFor="let option of options; let i = index"
    class="yacht-score-option-row"
  >
    <div class="w-8">
      <input
        type="radio"
        name="option"
        [value]="i"
        [checked]="selected == i"
        (click)="radioClicked(i)"
      />
    </div>
    <div class="flex-grow">
      {{ option.Category }}
    </div>
    <div class="w-12 text-right">
      {{ option.Score }}
    </div>
  </div>
  <div class="yacht-score-option-row">
    <button (click)="scoreClicked()">Score Turn</button>
  </div>

</div>
