<h1>Code Breaker</h1>

<app-code-breaker-guess-list
  *ngIf="game.Status == 'Playing' && game.guesses && game.guesses.length > 0"
  [guesses]="game.guesses"
></app-code-breaker-guess-list>

<app-code-breaker-solution
  *ngIf="
    game && game.Status != 'Playing' && game.codes && game.codes.length > 0
  "
  [codeBreaker]="game"
></app-code-breaker-solution>

<app-code-breaker-guess-form
  *ngIf="game.Status == 'Playing'"
  [columns]="columns"
  [available]="available"
  (sendGuess)="sendGuess($event)"
></app-code-breaker-guess-form>

<app-code-breaker-options
  (newGame)="newGame($event)"
  *ngIf="game.Status != 'Playing'"
></app-code-breaker-options>

<button routerLink="/code_breaker/scores">Scores</button>
