<div id="header-bar">
  <div class="flex flex-wrap justify-end mx-4 mb-2">
    <button (click)="showSignInClicked()" *ngIf="!session.data.SignedIn">
      Sign In
    </button>
    <button
      (click)="showRegisterClicked()"
      class="ml-4"
      *ngIf="!session.data.SignedIn"
    >
      Register
    </button>
    <div *ngIf="session.data.SignedIn">
      {{ session.data.UserName }}
    </div>
    <button
      *ngIf="session.data.SignedIn"
      (click)="signOutClicked()"
      class="ml-4"
    >
      Sign Out
    </button>
  </div>
  <div class="flex flex-wrap justify-between mx-4 mb-2">
    <button routerLink="/">Home</button>
    <button routerLink="/code_breaker">Code Breaker</button>
    <button routerLink="/guess_word">Guess Word</button>
    <button routerLink="/sea_battle">Sea Battle</button>
    <button routerLink="/hang_man">Hang Man</button>
    <button routerLink="/yacht">Yacht</button>
    <button routerLink="/ten_grand">Ten Grand</button>
    <button routerLink="/free_cell">Free Cell</button>
    <button routerLink="/klondike">Klondike</button>
    <button routerLink="/concentration">Concentration</button>
  </div>
</div>
