<div class="m-0 p-0">
  <app-side-panel (toggle)="toggleSidePanel()"></app-side-panel>
  <div class="flex flex-col h-screen">
    <app-header-bar
      [session]="session"
      (signOut)="signOut()"
      (showSignIn)="showSignIn()"
      (showRegister)="showRegister()"
      (toggle)="toggleSidePanel()"
    ></app-header-bar>
    <div class="flex-grow overflow-y-auto h-full">
      <router-outlet></router-outlet>
      <div id="scroll-space" class="h-10"></div>
    </div>
    <app-footer-bar></app-footer-bar>
  </div>

  <div id="dialog-screen-overlay">
    <app-register-dialog
      (cancel)="cancel()"
      (register)="register($event)"
    ></app-register-dialog>
    <app-sign-in-dialog
      (cancel)="cancel()"
      (signIn)="signIn($event)"
    ></app-sign-in-dialog>
  </div>
</div>
