<div class="rounded-box flex flex-wrap justify-between mx-4">
  <div *ngFor="let col of [].constructor(columns); let i = index">
    <select id="column-{{ i }}" (change)="colorChanged($event, i)">
      <option value="" class="White">- select -</option>
      <option
        *ngFor="let color of available"
        value="{{ color }}"
        class="{{ color }}"
      >
        {{ color }}
      </option>
    </select>
  </div>
  <button [disabled]="!ready" (click)="guessClicked()">Guess</button>
</div>
