<div class="score-row">
  <div class="score-left">
    <button routerLink="/hang_man/scores/{{ hangMan.id }}">Details</button>
  </div>
  <div class="score-center">
    {{ hangMan.user != null ? hangMan.user.UserName : "Anonymous" }}
  </div>
  <div class="score-center">
    {{ hangMan.Status }}
  </div>
  <div class="score-center">
    {{ hangMan.Score }}
  </div>
  <div class="score-center">
    {{ hangMan.Correct }}
  </div>
  <div class="score-center">
    {{ hangMan.Wrong }}
  </div>
  <div class="score-right">
    {{ hangMan.word != null ? hangMan.word.Word : "N/A" }}
  </div>
</div>
