<div class="flex flex-wrap border-b border-dashed border-black py-2 px-2">
  <div class="flex-grow">
    <div *ngIf="turn.scores && turn.scores.length > 0">
      <div
        *ngFor="let score of turn.scores"
        class="flex flex-wrap justify-between px-2 py-1 border-b border-dotted border-black"
      >
        <div class="w-36">
          {{ score.Category }}
        </div>
        <app-small-dice-roll [roll]="score.Dice || ''"></app-small-dice-roll>
        <div class="w-16 text-right">
          {{ score.Score }}
        </div>
      </div>
    </div>
  </div>
  <div class="w-24 text-right">
    {{ turn.Score }}
  </div>
</div>
