<div class="flex flex-wrap justify-between mx-4">
  <h1 class="ml-4">Guess Word</h1>
  <button routerLink="/guess_word/scores" class="scores-link">Scores</button>
</div>

<app-guess-word-guess-list
  *ngIf="game.guesses && game.guesses.length > 0"
  [guesses]="game.guesses"
></app-guess-word-guess-list>

<app-guess-word-guess-form
  [columns]="Length"
  *ngIf="game.Status == 'Playing'"
  (sendGuess)="sendGuess($event)"
></app-guess-word-guess-form>

<div class="rounded-box mb-2 mx-4 p-4" *ngIf="game.Status == 'Playing'">
  <div>
    <input
      type="checkbox"
      name="show-hints"
      [checked]="showHints"
      (click)="showHints = !showHints"
    />
    <label for="show-hints" class="ml-2">Show Hints</label>
  </div>
  <app-guess-word-hint-list
    *ngIf="hints.length > 0"
    [hints]="hints"
  ></app-guess-word-hint-list>
</div>

<app-guess-word-options
  (newGame)="randomWord($event)"
  *ngIf="game.Status != 'Playing'"
></app-guess-word-options>

<app-guess-word-directions
  *ngIf="game.Status != 'Playing'"
></app-guess-word-directions>
