<div class="score-row">
  <div class="score-left">
    <button routerLink="/guess_word/scores/{{ guessWord.id }}">Details</button>
  </div>
  <div class="score-center">
    {{ guessWord.user != null ? guessWord.user.UserName : "Anonymous" }}
  </div>
  <div class="score-center">
    {{ guessWord.Status }}
  </div>
  <div class="score-center">
    {{ guessWord.Score }}
  </div>
  <div class="score-center">
    {{ guessWord.word != null ? guessWord.word.Word : "N/A" }}
  </div>
  <div class="score-right">
    {{ guessWord.word != null ? guessWord.word.Length : "N/A" }}
  </div>
</div>
